* {
      margin: 0;
      padding: 0;
      outline: 0;
      box-sizing: border-box;
}

body {
      font-family: 'Work Sans', sans-serif;
      overflow-x: hidden;
}

ul,
ol {
      list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p {
      margin: 0;
      padding: 0;
}

a {
      display: inline-block;
      text-decoration: none;
}


section {
      margin-bottom: 70px;
}

.container {
      width: 80%;
      margin: 0 auto;
      padding: 0 7px;

}

/* ======= common css end ============ */
#menu_part {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
}

.menu_inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
}

.menu_logo {
      width: 30%;
}

.menu_logo h1 {
      font-size: 45px;
      font-weight: bold;
      color: #131313;
}

.main_menu ul {
      display: flex;
      column-gap: 45px;
}

.main_menu ul li a {
      color: #424242;
      font-size: 18px;
      font-weight: 500;
}

/* =====================================
            banner part start
====================================== */

#banner_part {
      background: #FFF4E7;
      padding: 150px 0;
}

.banner_inner {
      display: flex;
      justify-content: center;
}

.banner_text {
      text-align: center;
}

.banner_text h1 {
      font-size: 64px;
      font-weight: bold;
}

.banner_text h1 span {
      display: block
}

.banner_text p {
      max-width: 868px;
      margin: 32px auto;
      color: #727272;
      font-size: 16px;
      line-height: 26px;

}

.banner_text img {
      max-width: 100%;
      height: auto;
      margin-top: 70px;
}

.btn_primary {
      padding: 16px 20px;
      background: #FF900E;
      color: #fff;
      font-weight: bold;
      font-size: 20px;
      border-radius: 8px;
      border: 0;

}

/* =====================================
            banner part end
====================================== */
/* =====================================
            features part start
====================================== */
.feature_inner {
      display: grid;
      grid-template-columns: 60% 40%;
      grid-column-gap: 30px;
      align-items: center
}

.feature_img {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 30px;
}

.feature_text h1 {
      font-size: 45px;
      color: #727272;
      font-weight: 500;
}

.feature_text h1 span {
      color: #131313;
      font-weight: bold;
}

.feature_text h2 {
      color: #FF900E;
      font-size: 45px;
      font-weight: bold;
}

.feature_text p {
      margin: 25px 0;
      color: #727272;
      font-size: 16px;
      line-height: 26px;
}


/* =====================================
            features part end
====================================== */
/* =====================================
            banner part start
====================================== */
/* =====================================
            banner part end
====================================== */
/* =====================================
            banner part start
====================================== */
/* =====================================
            banner part end
====================================== */
/* =====================================
            banner part start
====================================== */
/* =====================================
            banner part end
====================================== */
/* =====================================
            banner part start
====================================== */
/* =====================================
            banner part end
====================================== */
/* =====================================
            banner part start
====================================== */
/* =====================================
            banner part end
====================================== */
/* =====================================
            banner part start
====================================== */
/* =====================================
            banner part end
====================================== */
/* =====================================
            banner part start
====================================== */
/* =====================================
            banner part end
====================================== */



/* =====================================
        media query part start
====================================== */
/* @media only screen and (max-width:375.98px) {
      header {
            width: 100%;
      }

} */